
<!DOCTYPE HTML>
<html>
  <head>
 <script type="text/javascript" src="javascript/jquery.js"></script>

   <meta http-equiv="content-type" content="text/html; charset=UTF-8">

<script type="text/javascript" src="/docs_file/scripts/shCore.js"></script>
<script type="text/javascript" src="/docs_file/scripts/shBrushPhp.js"></script>
<script type="text/javascript" src="/docs_file/scripts/shBrushXml.js"></script>
<script type="text/javascript" src="/docs_file/scripts/shBrushPython.js"></script>
<script type="text/javascript" src="/docs_file/scripts/shBrushJScript.js"></script>

<link type="text/css" rel="stylesheet" href="/docs_file/styles/main.css"/>
<link type="text/css" rel="stylesheet" href="/docs_file/styles/shCoreRDark.css"/>
<script type="text/javascript">SyntaxHighlighter.all();</script>
<style>
.toolbar{
display:none}
  .syntaxhighlighter {
     overflow-y: hidden !important;
     overflow-x: auto !important;
  padding:5px;
 font-size: 14px !important;
  }

.syntaxhighlighter .line.alt2 {
    background-color: rgb(22,20,29) !important;
}
.syntaxhighlighter .line.alt1 {
    background-color: rgb(22,20,29) !important;
}
.syntaxhighlighter {
    background-color: rgb(22,20,29) !important;
border-radius: 5px;
}

.syntaxhighlighter div{
line-height: 1.4em !important;

}


.syntaxhighlighter .keyword {
    color: rgb(130,130,255) !important;
}

.syntaxhighlighter .variable {
    color: rgb(237,147,92) !important;
}


.syntaxhighlighter .string, .syntaxhighlighter .string a {
    color: rgb(196,255,97) !important;
}

.syntaxhighlighter .gutter {
    color: rgb(98,97,134) !important;
}

.syntaxhighlighter .gutter .line {
    border-right: 4px solid rgba(0,0,0,0) !important;

}
.syntaxhighlighter table td.gutter .line {

    background: none repeat scroll 0% 0% rgb(33,30,53) !important;
}

</style>


<title></title>
  </head>
  <body>

<div id="content">
<h1>Daku API</h1>



<div class="url" id="v1">
/docs
</div>

<div class="editor">
<pre class="brush: js">
Sorry, that page does not exist




</pre>
</div>




</div>


  </body>
</html>
