<!doctype html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Edaku</title>
    <link rel="stylesheet/less" type="text/css" href="/admin_files/style.less">
    <script src="/admin_files/js/less.js" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width">
 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <link rel="stylesheet" href="/admin_files/graph.css">
      <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

    <script src="/admin_files/js/main.js" type="text/javascript"></script>
</head>

<body>


<header><h2>Edaku Administrace</h2></header>

<div class="container">



<div class="menu">
<ul class="sub-menu">
<li class="main-menu"><i class="fa fa-connectdevelop"></i>Main <i class="fa fa-chevron-up"></i>
<li class="h"><i class="fa fa-caret-right"></i><a n:href="Admin:">Hlavní strana</a>  </li>
<li  class="h"><i class="fa fa-caret-right"></i>Odhlasít</li>
</li>

</ul>

<ul class="sub-menu">

<li class="main-menu"><i class="fa fa-bar-chart"></i>Statistiky <i class="fa fa-chevron-up"></i>



</li>

</ul>



<ul class="sub-menu">

<li class="main-menu"><i class="fa fa-shopping-cart"></i>Zboží<i class="fa fa-chevron-up"></i>

<li class="h"><i class="fa fa-caret-right"></i><a n:href="Admin:item">Zboží</a>  </li>
<li class="h"><i class="fa fa-caret-right"></i><a n:href="Admin:order">Objednávky</a>  </li>
</li>

</ul>

<ul class="sub-menu">

<li class="main-menu"><i class="fa fa-user"></i>Uživatelé <i class="fa fa-chevron-up"></i>

<li class="h"><i class="fa fa-caret-right"></i><a n:href="Admin:customers">Seznamy</a>  </li>

</li>

</ul>


</div>




<div class="content">
<div class="header">
<h1>Dashboard</h1>
</div>




<div class="panel">
<div class="panel-header">
<h3>Produkty</h3>
</div>
<table class="itm">

<tr><th>Název produktu</th><th>Cena</th><th>Kategorie</th><th>Počet kusů</th></tr>

  {foreach $data as $item}
 <tr><td>{$item->item_name}</td><td>{$item->price}</td><td>{$item->category_name}</td>
 <td>{$item->in_stock}</td></tr>

{/foreach}




</table>
</div>







</div>







</div>



  <script type="text/javascript">




$(".h").hide();

$(".sub-menu").click(function() {
 $(".h",this).slideToggle();
})
  </script>
</body>

</html>